<launch>

  <arg name="config" default="$(find rosinterface_handler_tutorial)/launch/params/DemoInterface.yaml" />

  <node pkg="rosinterface_handler_tutorial" type="demo" name="demo" output="screen">
    <rosparam command="load" file="$(arg config)"/>
  </node>

  <node name="reconfigure_gui" pkg="rqt_reconfigure" type="rqt_reconfigure" />

</launch>
